body{
  margin:0 0;
}

.tape{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  white-space: nowrap;
  text-align: center;
  font-size: 0;
}

.tape::before{
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  content: '';
}

#map{
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align: left;
  width: 55%;
  height: 60%;
  border-top: 30px solid black;
  border-bottom: 30px solid black;
  border-left: 50px solid black;
  border-right: 70px solid black;
  border-radius: 20px;
  background: #e8f9ff;
  box-shadow: 0 0 40px rgba(0,0,0,0.2);
}

#map .ymaps-2-1-74-map{
  top: -55px;
}
#map img.location-photo{
  width: 200px;
}

.lds-circle {
  display: block;
  transform: translateZ(1px);
  position: relative;
  top: calc(50% - 78px);
  left: calc(50% - 32px);
}
.lds-circle > div {
  display: inline-block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #34baeb;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-circle div img{
  width: inherit;
}
@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
span{
  width: 42px;
  height: 42px;
  background-color: black;
  border: 2px solid white;
  content: "";
  border-radius: 25px;
  display: block;
  position: relative;
  top: calc(50% - 23px);
  left: calc(100% + 12px);
  z-index: 10;
}
.location-title{
  font-size: 18px;
  margin-bottom: 5px;
}
.social-row img.icon{
  width: 25px;
}
.rating{
  float: left;
  margin: 5px 15px 0 0;
}
.rating strong{
  font-size: 15px;
  position: relative;
  top: -7px;
  left: 3px;
}

@media screen and (orientation:portrait) {
  #map{
    border-top: 50px solid black;
    border-bottom: 70px solid black;
    border-left: 30px solid black;
    border-right: 30px solid black;
    border-radius: 20px;
  }
  #map img.location-photo{
    width: 100px;
  }
  .lds-circle {
    top: calc(50% - 64px);
  }
  span{
    top: calc(100% + 12px);
    left: calc(50% - 23px);
  }
}
